*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: white;
    background: linear-gradient(45deg, #05c5e4, #b1ffd7, #f6fddf);
    background-size: 1000% 1000%;
    animation: colors 10s ease infinite;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes colors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.link {
    /* float: right; */
    background-color: red;
    clear: left;
}

.content-wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    background-color: black;
}

.image img {
    height: 230px;
}