<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/chatsList.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Chats</title>
</head>

<body>

<!-- navbar -->

<!-- Homepage -->

<div class="chatsList">
    <h2 class="chatsHeader">Chats:</h2>
    <div class="chatUser">
        <img
                class="profilePicture"
                src="images/"
                alt="profilePicture"
        />
        <p class="chatUserName">Herbert Hummer</p>
        <p class="previewText">Hi du, wie geht's?</p>
        <p class="status">-Wow ein cooler Status!</p>
        <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        <img
                class="seenStatus"
                src="../static/icons/eye.png"
                alt="seenStatus"
        />
        <img
                class="onlineStatusCircle"
                src="../static/icons/online.svg"
                alt="onlineStatus"
        />
        <p class="onlineStatus">online</p>
    </div>

    <div class="chatUser">
        <img
                class="profilePicture"
                src="images/"
                alt="profilePicture"
        />
        <p class="chatUserName">Herbert Hummer</p>
        <p class="previewText">Hi du, wie geht's?</p>
        <p class="status">-Wow ein cooler Status!</p>
        <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        <img
                class="seenStatus"
                src="../static/icons/eye.png"
                alt="seenStatus"
        />
        <img
                class="onlineStatusCircle"
                src="../static/icons/online.svg"
                alt="onlineStatus"
        />
        <p class="onlineStatus">online</p>
    </div>

    <div class="chatUser">
        <img
                class="profilePicture"
                src="images/"
                alt="profilePicture"
        />
        <p class="chatUserName">Herbert Hummer</p>
        <p class="previewText">Hi du, wie geht's?</p>
        <p class="status">-Wow ein cooler Status!</p>
        <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        <img
                class="seenStatus"
                src="../static/icons/eye.png"
                alt="seenStatus"
        />
        <img
                class="onlineStatusCircle"
                src="../static/icons/online.svg"
                alt="onlineStatus"
        />
        <p class="onlineStatus">online</p>
    </div>

    <div class="chatUser">
        <img
                class="profilePicture"
                src="images/"
                alt="profilePicture"
        />
        <p class="chatUserName">Herbert Hummer</p>
        <p class="previewText">Hi du, wie geht's?</p>
        <p class="status">-Wow ein cooler Status!</p>
        <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        <img
                class="seenStatus"
                src="../static/icons/eye.png"
                alt="seenStatus"
        />
        <img
                class="onlineStatusCircle"
                src="../static/icons/online.svg"
                alt="onlineStatus"
        />
        <p class="onlineStatus">online</p>
    </div>
    <div class="newChatBubble">
        <button>
            <img
                    class="newChatBubbleIcon"
                    src="../static/icons/newChatBubble.svg"
                    alt="newChatBubble"
            />
        </button>
    </div>
</div>
