<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head"></head>

<head>
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link th:href = "@{/css/index.css}" rel="stylesheet">
    <title>Chats</title>
</head>

<body>

<!-- navbar -->
<header th:replace="fragments/nav"></header>

<!-- Homepage -->

<div class="chat">
    <div class="closeChat">
        <button>Chat schliessen</button>
    </div>
    <div class="chatUser">
        <img
                class="profilePicture"
                src="images/"
                alt="profilePicture"
        />
        <p class="chatUserName">Herbert Hummer</p>
        <p class="status">-Wow ein cooler Status!</p>
        <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        <img
                class="onlineStatusCircle"
                src="../static/icons/online.svg"
                alt="onlineStatus"
        />
        <p class="onlineStatus">online</p>
        <img
                class="blockPerson"
                src="../static/icons/user_blocked.svg"
                alt="blockPerson"
        />
    </div>
    <div class="chatWindow">
        <div class="messageUser1">
            <p class="message">Howdy Schnitte, darf ich dich belegen?
                Mein Name ist Herbert und man braucht mich in deiner Gegenwart
                nicht mehr kochen damit ich rot werde ;)</p>
            <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        </div>
        <div class="messageUser2">
            <p class="message">Zum 1000000sten Mal, ich will nichts von dir.
                Verkriech dich du krustikaner  Kek</p>
            <p class="dateAndTime">Di. 25.08.2021 -19:00</p>
        </div>
        <div>
            <input class="newMessage" type="text" placeholder="schreibe eine Nachricht"/>
            <button type="submit">
                <img
                        class="sendMessage"
                        src="../static/icons/send-message.svg"
                        alt="send-message"
                />
            </button>
        </div>
    </div>
</div>
