<!DOCTYPE html>
<html lang="en">
<head>
    <!-- own files -->
    <link rel="stylesheet" href="../../assets/css/navigation.css">
</head>
<body>
    <nav>
        <div class="logo-wrapper">
            <a href="#">
                <img src="../../assets/images/locsterLogo_Weiss.png" class="logo">
            </a>
        </div>

        <form>
            <div class="input-group">
                <input type="text" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit">
                        <img src="../../assets/images/lupe.png" class="search-icon">
                    </button>
                </div>
            </div>
        </form>

        <div class="icon-wrapper">
            <a href="#">
                <img src="../../assets/images/dummy.png" class="icon">
            </a>
            <a href="#">
                <img src="../../assets/images/dummy.png" class="icon">
            </a>
            <a href="#">
                <img src="../../assets/images/dummy.png" class="icon">
            </a>
            <a href="#">
                <img src="../../assets/images/dummy.png" class="icon">
            </a>
        </div>
    </nav>

</body>
</html>