<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/404.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
</head>
<body>
<h2>404 Error</h2>
<p>Yer not supposed to be here, mate. Back off or the stab crab will get you >:( </p>
<div class="linktopfp"><a href="/profilepage.html">click here to run for your life</a></div>
<img src="/images/NLSf.gif" alt="attack on crab" width="570" height="460" class="crabgif">
</body>
</html>