.chatsList {
    margin: auto;
    background-color: #FFF3B1;
    border-style: 1px solid;
    border-color: #FED700;
    border-radius: 20px;
}

.chatsUser:nth-child(odd){
    background-color: #FED700;
    border-style: 1px solid;
    border-color: #FED700;

}

.chatsUser:nth-child(even) {
    background-color: #FFF3B1;
    border-style: 1px solid;
    border-color: #FED700;
}

.previewText {
    font-size: 14px;
}

.status {
    font-size: 14px;
    font-style: italic;
    color: #414141;
}

.dateAndTime {
    font-size: 14px;
}

.onlineStatus {
    font-size: 18;
}



