.listWith6ChildContent ul,
.contentFriend ul {
  position: relative;
  width: 750px;
  margin: 30px auto 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  background-color: #fff3b1;
  border: 2px solid #fed700;

}

.listWith6ChildContent ul li,
.contentFriend ul li {
  display: flex;
  padding: 10px 20px;
  margin: 5px 0;
  transition: 0.5s;
  background-color: #fed700;
  border-radius: 10px;
}

.listWith6ChildContent .header,
.contentFriend .header {
  background-color: #fff3b1;
}

.listWith6ChildContent ul li span:nth-child(1) {
  width: 100px;
}
.listWith6ChildContent ul li span:nth-child(2) {
  width: 140px;
}
.listWith6ChildContent ul li span:nth-child(3) {
  width: 100px;
}
.listWith6ChildContent ul li span:nth-child(4) {
  width: 140px;
}
.listWith6ChildContent ul li span:nth-child(5) {
  width: 100px;
}
.listWith6ChildContent ul li span:nth-child(6) {
  width: 100px;
}

.contentFriend ul li span:nth-child(1) {
  width: 140px;
}
.contentFriend ul li span:nth-child(2) {
  width: 200px;
}
.contentFriend ul li span:nth-child(3) {
  width: 140px;
}
.contentFriend ul li span:nth-child(4) {
  width: 200px;
}

.listWith6ChildContent li span,
.contentFriend li span {
  text-align: center;
}

.icon img {
  width: 30px;
  height: 30px;
}
