/* general structure */

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3cb5ee;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #63bee8;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: #fff3b1;
    margin: 2%;
    border: 2px solid #fed700;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* alert messages success, info and danger */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    display: block;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    display: block;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    display: block;
}

/* scroll funktion */

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* add responsive media quaries  */

@media screen and (max-width: 1200px) {
    .column {
        width: 40%;
        display: block;
    }
    .container {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 40%;
        display: block;
    }
}
