*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #002B15;
    background: linear-gradient(45deg, #05c5e4, #b1ffd7, #f6fddf);
    background-size: 1000% 1000%;
    animation: colors 10s ease infinite;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes colors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.link {
    direction: rtl;
}

.link a {
    color: #000;
}

.link a:hover {
    color: blue;
}

.content-wraper-image {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image img {
    width: 730px;
}

.form-text-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text-container .text p {
    text-align: center;
}

.form {
    padding: 50px;
    width: 100%;
    border-radius: 25px;
}


/* inputs form */

input[type=email],
input[type=password],
input[type=text] {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border: solid #08DCFF;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    color: #5E6472;
    outline: none;
    border-width: 2px;
    transition: 0.2s linear;
}


/* inputs form SignUp */

input[type=text] {
    width: 49%;
}


/* focus */

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.checkbox-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0 40px;
    width: 100%;
}

.checkbox-button-container .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-start;
    flex: 1;

}

.btn {
    width: 100px;
    padding: 10px;
    border: solid #08DCFF;
    border-width: 2px;
    background-color: #FFEE94;
    border-radius: 25px;
    cursor: pointer;
}