/* profileInfo & profileEdit */
#profileEdit {
  display: none;
}

.editFields form {
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.editFields input[type="text"],
.editFields input[type="date"],
.editFields .genderButtons {
  width: 40%;
  background-color: #fffbe3;
  border-radius: 25px;
  border: solid #fed700;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  color: #5e6472;
  outline: none;
  border-width: 2px;
  transition: 0.2s linear;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buttonsBtn {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 15px;
}

.profileBtn {
  width: 250px;
  height: 60px;
  background-color: #ab2524;
  border: solid #08dcff;
  color: #fff;
  font-size: larger;
  border-radius: 25px;
  margin-top: 2%;
  margin: 10px;
}

.submit {
  margin-top: 100px;
  margin-right: 10px;
}

.submit img {
  width: 70px;
  height: 70px;
}

.box {
  background-color: #fff3b1;
  margin: 2%;
  border: 2px solid #fed700;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  border: 2px solid #fed700;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* profile structure */

/* collapsible profile infos */

.collapsible {
  cursor: pointer;
  border: none;
  padding: 0 15px;
  background-color: #fff3b1;
  color: #3cb5ee;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.info .content {
  display: none;
  overflow: hidden;
  background-color: #fff3b1;
}

.ProfileInfosHeader {
  display: flex;
  flex-direction: column;
}
.group1 {
  display: flex;
  justify-content: center;
}
.group2 {
  display: flex;
  justify-content: space-between;
}

.visitor {
  display: flex;
  flex-direction: initial;
  justify-content: center;
}

.content .group {
  display: flex;
  flex-direction: inherit;
}

.content .profileinfo {
  padding: 2px;
  margin: 8px;
}

.content .profileInfoIcons {
  width: 35px;
}

.content .profileinfo p {
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.profileInfosFooter {
  display: flex;
  flex-direction: column;
}

.profileInfosFooter p {
  padding: 5px;
  margin: 5px;
}

.profile_pic {
  width: 150px;
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: row;
}

.info {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile_name {
  padding: 10px;
}
.profile_city {
  padding: 10px;
}
.more_info {
  margin-left: 10px;
  text-decoration: none;
}
.icon-edit-content {
  align-self: flex-end;
  margin: 0 15px 10px 0;
}

.icon-edit-content img {
  width: 20px;
}

/* status */
.status {
  padding: 10px;
}

/* guestbook */

.guestbook,
.guestbook h2 {
  padding: 6px;
}
.post {
  padding: 10px;
  background-color: cornsilk;
}

.sender {
  padding: 5px;
}

.message {
  padding: 5px;
}
