/* general structure */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: #3cb5ee;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}
.container {
  width: 800px;
  margin: auto;
  background-color: #63bee8;


  display: flex;
  flex-direction: column;
}