.whoisonline-box {
  background-color: #fff3b1;
  margin: 2%;
  border: 2px solid #fed700;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whoisonline-box h2 {
    background-color: #ffe557;
    width: 100%;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 10px 0;
}

.table thead tr > th {
    text-align: left;
}


.whoisonline-box th span:nth-child(1) {
    width: 100px;
}
.whoisonline-box th span:nth-child(2) {
    width: 140px;
}
.whoisonline-box th span:nth-child(3) {
    width: 100px;
}
.whoisonline-box th span:nth-child(4) {
    width: 140px;
}
.whoisonline-box th span:nth-child(5) {
    width: 100px;
}
.whoisonline-box th span:nth-child(6) {
    width: 100px;
}

.onlinestatuscircle {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  /*online Kreis --grün-- */
  /*background-color: #00CD00*/
  /*busy Kreis --rot-- */
  /*background-color: #CD3700*/
  /*abwesend Kreis --lila-- */
  background-color: #ab82ff
}
