<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="fragments/head"></head>

<head>
    <link th:href = "@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src = "@{/js/login.js}"></script>
    <title>Login.de.Login</title>
</head>

<body>


<div class="link"> <a href="signup" title="go to SignUp">Noch nicht Teil der Crew? Hier geht's zum Registration</a> </div>

<div class="content-wraper-image">
    <div class="image">
        <img src = "images/locsterLogo_Gruen.png" alt="Logo">
    </div>
    <div class="form-text-container">
        <div class="text">
            <p>
                Hey Du! Da bist du ja wieder! Schnell unten einloggen und neue Leute aus deiner City kennlernen ;)
            </p>
        </div>
        <div class="form">
            <form>
                <div class="inputs">
                    <input type="email" placeholder="Deine Email-Adresse" name="email" required>
                    <input type="password" placeholder="Dein Passwort" name="password" required>
                </div>
                <div class="checkbox-button-container">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked="checked" name="Remember"> Eingeloggt bleiben
                        </label>
                    </div>
                    <div class="submitButton">

                        <button class="btn" type="submit">Login</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

</body>

</html>