<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/profilPage.css" />
    <link rel="stylesheet" href="../assets/css/navigation.css" />
    <title>profile page</title>
  </head>
  <body>
    <nav>
      <div class="logo-wrapper">
        <a href="#">
          <img src="../assets/images/locsterLogo_Weiss.png" class="logo" />
        </a>
      </div>

      <!-- search -->

      <form>
        <div class="input-group">
          <input type="text" placeholder="Search" />
          <div class="input-group-btn">
            <button type="submit">
              <img src="../assets/icons/glass.png" class="search-icon" />
            </button>
          </div>
        </div>
      </form>

      <div class="icon-wrapper">
        <a href="#">
          <img src="../assets/icons/speechbubble.png" class="icon" />
        </a>
        <a href="#">
          <img src="../assets/icons/group.png" class="icon" />
        </a>
        <a href="#">
          <img src="../assets/icons/people.png" class="icon" />
        </a>

        <!-- dropdown -->

        <div class="dropdown">
          <button class="dropbtn">
            <a href="#">
              <img src="../assets/icons/person.png" class="icon" />
            </a>
          </button>
          <div class="dropdown-content">
            <a href="#">
              <img src="../assets/icons/person.png" class="icon_dropbtn" />
              <p>Profil</p>
            </a>
            <a href="#">
              <img src="../assets/icons/gear.png" class="icon_dropbtn" />
              <p>Einstellungen</p>
            </a>
            <a href="./login.html">
              <img src="../assets/icons/logout.png" class="icon_dropbtn" />
              <p>Logout</p>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Homepage -->

    <div class="container">
      <div class="box profile">
        <div class="profile-info-wrapper">
          <div class="pic">
            <img
              class="profile_pic"
              src="../assets/images/profilePic.png"
              alt="profile_pic"
            />
          </div>
          <div class="info">
            <h2 class="profile_name">Crab Daddy</h2>
            <h2 class="profile_city">aus Erdurt</h2>
            <a class="more_info" href="#">mehr infos</a>
          </div>
        </div>
        <div class="icon-edit-content">
          <img src="../assets/icons/pen.png" alt="pen" />
        </div>
      </div>

      <div class="box status">
        <p class="status">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
          perferendis voluptatem, enim blanditiis recusandae molestiae earum
          sunt, consectetur repellat rem distinctio iure neque quibusdam fugit,
          est facilis doloribus. Nulla, culpa. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Iste perferendis voluptatem, enim
          blanditiis recusandae molestiae earum sunt, consectetur repellat rem
          distinctio iure neque quibusdam fugit, est facilis doloribus. Nulla,
          culpa.
        </p>
        <div class="icon-edit-content">
          <img src="../assets/icons/pen.png" alt="pen" />
        </div>
      </div>

      <div class="box guestbook">
        <div class="guestbook">
          <h2>Gästebuch</h2>
          <div class="post">
            <div class="sender">
              <p class="">Crab Mommy schrieb dir am 01.01.1991:</p>
            </div>
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                perferendis voluptatem, enim blanditiis recusandae molestiae
                earum sunt, consectetur repellat rem distinctio iure neque
                quibusdam fugit, est facilis doloribus. Nulla, culpa.
              </p>
            </div>
          </div>
          <div class="post">
            <div class="sender">
              <p class="">Crab Mommy schrieb dir am 01.01.1991:</p>
            </div>
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                perferendis voluptatem, enim blanditiis recusandae molestiae
                earum sunt, consectetur repellat rem distinctio iure neque
                quibusdam fugit, est facilis doloribus. Nulla, culpa.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-edit-content">
          <img src="../assets/icons/pen.png" alt="pen" />
        </div>
      </div>

      <div class="box guestbook">
        <div class="guestbook">
          <h2>Meine Gästebucheinträge</h2>

          <div class="post">
            <div class="sender">
              <p class="">Du schriebst Crab Kid am 01.01.1991:</p>
            </div>
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                perferendis voluptatem, enim blanditiis recusandae molestiae
                earum sunt, consectetur repellat rem distinctio iure neque
                quibusdam fugit, est facilis doloribus. Nulla, culpa.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-edit-content">
          <img src="../assets/icons/pen.png" alt="pen" />
        </div>
      </div>
    </div>
  </body>
</html>
