<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"><title></title></head>
<head>
    <link th:href="@{/css/profilepage.css}" rel="stylesheet">
    <script th:src="@{/js/profilepage.js}"> type = "text/javascript" </script>
    <title></title>
</head>

<body>

<!-- navbar -->
<header th:replace="fragments/nav"></header>

<!-- Homepage -->
<div class="container" th:object="${profileUser}">

    <!-- profile Info Box -->
    <div class="box profile" id="profileInfoBox">
        <div class="profile-info-wrapper">
            <div class="pic">
                <img class="profile_pic" th:src="*{profilePicture}" src="#" alt="profile_pic"/>
            </div>
            <div class="info">
                <h2 class="profile_name" th:text="*{firstName + ' ' + lastName}"></h2>
                <h2 class="profile_city" th:text="*{region}"></h2>
                <p class="profile_personal_status" th:text="*{personalStatus}"></p>
                <p class="profile_online_status" th:text="#{'labels.onlineStatus.'+*{onlineStatus}}"></p>
                <div class="content">
                    <div class="ProfileInfosHeader">
                        <div class="row">
                            <div class="birthday group profileinfo">
                                <img class="profileInfoIcons" src="/icons/cake.svg" alt="cake"/>
                                <p th:text="*{birthDay}"></p>
                            </div>
                            <div class="gender group profileinfo">
                                <img class="profileInfoIcons" src="/icons/genders-gender-svgrepo-com.svg" alt="icon"/>
                                <p th:text="#{'labels.sex.'+*{sex}}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="relationship group profileinfo">
                                <img class="profileInfoIcons" src="/icons/heart-thin.svg" alt="heart"/>
                                <p th:text="#{'labels.relationshipStatus.'+*{relationshipStatus}}"></p>
                            </div>
                            <div class="job group profileinfo">
                                <img class="profileInfoIcons" src="/icons/job-seeker.svg" alt="job"/>
                                <p th:text="*{occupation}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- friendrequest -->
        <div th:if="${!myProfile}">
            <div th:if="${!isFriend}">
                <form th:action="@{/friendrequest/{userId}(userId=*{id})}" th:method="put">
                            <span class="icon">
                                <button th:if="${openRequest}" type="submit"
                                        class="FAsenden">Freundschaftsanfrage annehmen</button>
                                <button th:if="${!openRequest}" type="submit"
                                        class="FAsenden" onclick="alert('Freundschaftsanfrage gesendet!')">Freundschaftsanfrage senden</button>
                            </span>
                </form>
            </div>

            <div th:if="${isFriend}" class="youAreFriends">
                Ihr seid befreundet!
            </div>
        </div>

        <!-- edit icon -->
        <div th:if="${myProfile}" class="icon-edit-content">
            <a href="/settings">
                <img src="/icons/pen.png" alt="pen"/>
            </a>
        </div>
    </div>

    <!-- status box -->
    <div class="box status" id="status" title="Profiltext bearbeiten">
        <p class="status" th:text="*{profileText}"></p>
        <div th:if="${myProfile}" class="icon-edit-content" onclick="displayprofileEdit()">
            <img src="/icons/pen.png" alt="pen"/>
        </div>
    </div>

    <!-- edit status box -->
    <div class="profiltextEdit" id="profiltextEdit">
        <div class="box">
            <div class="title">
                <h2> Profiltext bearbeiten </h2>
            </div>
            <form action="#" th:action="@{/profilepage}" method="post">
                <div class="inputs">
                    <label>
                    <textarea class="profileText" type="text" th:field="*{profileText}" placeholder="Dein Profiltext"
                              autofocus="autofocus"
                              rows="8" cols="75" maxlength="255">

                    </textarea>
                    </label>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <span th:errors="*{profileText}" class="alert alert-danger"></span>
                </div>
                <div class="buttons">
                    <div class="submit">
                        <button type="button" class="submitBtnProfiletext" onclick="displayprofileInfo()"><i
                                class="fas fa-trash-alt"></i>
                            Abbrechen
                        </button>
                    </div>
                    <div class="submit">
                        <button type="submit" class="submitBtnProfiletext" onclick="displayprofileInfo()"><i
                                class="far fa-check-circle"></i>
                            Speichern
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--new post-->
    <div th:if="${!myProfile}" class="box guestbook">
        <div class="guestbook">
            <h2>Schreib einen Beitrag:</h2>
            <form th:action="@{/guesbookentry/{userId}(userId=*{id})}" th:method="post">
                <div class="new post">
                    <div class="message">
                        <label>
                            <textarea name="content" placeholder="was geht up!"
                                      autofocus="autofocus"
                                      rows="8" cols="75" maxlength="255">
                            </textarea>
                        </label>
                    </div>
                    <div class="submit">
                        <button class="submitBtnGästebuch"><i class="far fa-check-circle"></i> Senden</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- guestbook box -->
    <div class="box guestbook">
        <div class="guestbook">
            <h2>Gästebuch</h2>
            <div th:each="receivedEntry: ${receivedGuestbookEntries}" class="post">
                <div class="sender">
                    <p th:text="${receivedEntry.creator.firstName} + ' ' + ${receivedEntry.creator.lastName} + ' schrieb dir am ' + ${#dates.format(receivedEntry.sentAt, 'dd. MMMMMMMMMMMM yyyy')} + ':'"></p>
                </div>
                <div class="message">
                    <p th:text="${receivedEntry.content}"></p>
                    <p th:if="${receivedEntry.edited}"
                       th:text="'(bearbeitet am: ' + ${#dates.format(receivedEntry.editedAt, 'dd. MMMMMMMMMMMM yyyy')} + ')'"
                       style="font-size: smaller"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- guestbook box -->
    <div th:if="${myProfile}" class="box guestbook">
        <div class="guestbook">
            <h2>Meine Gästebucheinträge</h2>

            <div th:each="createdEntry: ${createdGuestbookEntries}" class="post">
                <div class="sender">
                    <p th:text="${createdEntry.creator.firstName} + ' ' + ${createdEntry.creator.lastName} + ' schrieb dir am ' + ${#dates.format(createdEntry.sentAt, 'dd. MMMMMMMMMMMM yyyy')} + ':'"></p>
                </div>
                <div class="message">
                    <p th:text="${createdEntry.content}"></p>
                    <p th:if="${createdEntry.edited}"
                       th:text="'(bearbeitet am: ' + ${#dates.format(createdEntry.editedAt, 'dd. MMMMMMMMMMMM yyyy')} + ')'"
                       style="font-size: smaller">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/profilePage.js"></script>
</body>
</html>