<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/signup.css">
    <title>Locster.de/SignUp</title>
</head>

<body>
    <div class="link"> <a href="./login.html" title="go to Login">Schon Teil der Crew? Hier geht's zum Log-In</a> </div>

    <div class="content-wraper-image">
        <div class="image">
            <img src="../assets/images/locsterLogo_Gruen.png" alt="Logo">
        </div>
        <div class="form-text-container">
            <div class="form">
                <form>
                    <div class="inputs">
                        <input type="text" placeholder="Vorname" name="firstName" required>
                        <input type="text" placeholder="Nachname" name="lastName" required>
                        <input type="text" placeholder="Dein Geburtsdatum" name="birthday" required>
                        <input type="text" placeholder="Geschlecht" name="gender" required>
                        <input type="email" placeholder="Deine Email-Adresse" name="email" required>
                        <input type="password" placeholder="Ein sicheres Passwort" name="password" required>
                        <input type="password" placeholder="Passwort wiederholen" name="passwordAgain" required>
                    </div>
                    <div class="checkbox-button-container">
                        <div class="submitButton">
                            <button class="btn" type="submit">Login</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>


</body>

</html>