<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head"> </head>

  <head>
    <link th:href = "@{/css/login.css}" rel="stylesheet">
    <link th:href = "@{/css/signup.css}" rel="stylesheet">
    <script type="text/javascript" th:src = "@{/js/signup.js}"></script>
    <title>Locster.de.SignUp</title>
  </head>

  <body>
    <div class="link">
      <a href="login" title="go to Login"
        >Schon Teil der Crew? Hier geht's zum Log-In</a
      >
    </div>

    <div class="content-wraper-image">
      <div class="image">
        <img src="images/locsterLogo_Gruen.png" alt="Logo" />
      </div>
      <div class="form-text-container">
        <div class="form">
          <form th:action="@{/signup}" th:object="${user}" method="POST" enctype="utf8">
            <div class="inputs">
              <input
                      th:field="*{firstName}"
                      type="text"
                      placeholder="Vorname"
                      name="firstName"
                      required
              />
              <p th:each="error : ${#fields.errors('firstName')}"
                 th:text="${error}">Validation error</p>
              <input
                      th:field="*{lastName}"
                      type="text"
                      placeholder="Nachname"
                      name="lastName"
                      required
              />
              <p th:each="error : ${#fields.errors('lastName')}"
                 th:text="${error}">Validation error</p>
              <input
                      th:field="*{birthday}"
                      type="text"
                      placeholder="Dein Geburtsdatum"
                      name="birthday"
                      required
              />
              <p th:each="error : ${#fields.errors('birthday')}"
                 th:text="${error}">Validation error</p>
              <input
                      th:field="*{sex}"
                      type="text"
                      placeholder="Geschlecht"
                      name="sex"
                      required
              />
              <p th:each="error : ${#fields.errors('sex')}"
                 th:text="${error}">Validation error</p>
              <input
                      th:field="*{email}"
                      type="email"
                      placeholder="Deine Email-Adresse"
                      name="email"
                      required
              />
              <p th:each="error : ${#fields.errors('email')}"
                 th:text="${error}">Validation error</p>
              <input
                      th:field="*{password}"
                      type="password"
                      placeholder="Ein sicheres Passwort"
                      name="password"
                      onkeyup="onPasswordChanged()"
                      required
              />
              <p th:each="error : ${#fields.errors('password')}"
                 th:text="${error}">Validation error</p>
              <div>
                <p>
                  Das Passwort muss mindestens
                  <span class="length-8">8 Zeichen</span> enthalten, davon
                  mindestens <br />
                  <span class="major">1 Großbuchstabe</span>,
                  <span class="minor">1 Kleinbuchstabe</span>,
                  <span class="number">1 Zahl</span>,
                  <span class="special">1 Sonderzeichen</span>.
                </p>
              </div>
              <input
                      th:field="*{passwordRepeat}"
                      type="password"
                      placeholder="Passwort wiederholen"
                      name="passwordRepeat"
                      onkeyup="onPasswordRepeatChanged()"
                      required
              />
              <p th:each="error : ${#fields.errors('passwordRepeat')}"
                 th:text="${error}">Validation error</p>
            </div>
            <div class="checkbox-button-container">
              <div class="submitButton">
                <button class="btn" type="submit">Registrieren</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer th:replace="fragments/footer"></footer>
  </body>
</html>
