<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <th>Name:</th>
            <th>Alter:</th>
            <th>Geschlecht:</th>
            <th>Beziehungsstatus:</th>
            <th>Region:</th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="u: ${user}">
                <td th:text="${u.firstName + ' ' + u.lastName}"></td>
                <td th:text="${u.birthDay}"></td>
                <td th:text="${u.sex}"></td>
                <td th:text="${u.relationshipStatus}"></td>
                <td th:text="${u.region}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>